/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkgreen;
}


/**************
Your Formatting
***************/
/* 
NOTES
Css grid reference- https://css-tricks.com/snippets/css/complete-guide-grid/
Flexbox reference - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
J Query reference - src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
 */

#yourgrid {
    grid-template-columns: 100%;
    grid-template-rows: 75px 30px 1fr 1fr 30px;
    grid-template-areas:
        "header"
        "nav"
        "article"
        "aside"
        "footer";
}

header, nav, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    grid-area: header;
    background: lightpink;
}

nav {
    grid-area: nav;
    background: lavenderblush;
}

nav div {
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

article{
    grid-area: article;
    background: lightcyan;
}

aside {
    grid-area: aside;
    background:lightblue;
}

footer {
    grid-area: footer;
    background: lightpink;
}

.menu {
    width: 6rem;
    margin: 0;
    background: #ccc;
}

.items {
    position: absolute;
    width: 6rem;
    background: #ddd;
    margin: 0;
    padding: 0;
    padding-left: .25rem;
    list-style: none;
    display: none;
}

@media only screen and (min-width: 600px) {

    #yourgrid {
        display: grid;
        width: 100vw;
        max-width: 1000px;
        min-height: 100vh;
        margin: 0 auto; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 75px 30px 1fr 50px;
        grid-template-areas:
            "header header"
            "article nav"
            "article aside"
            "footer footer";
    }
}