/*this makes the font universal for the body Raleway*/

html, body, section, div {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

h1 {
    position: relative;
    top: 30%;
    left: 50%;
    text-align: left;
}

.image {
    background: image('self.jpg');
    float: left;
    width: 36%;
}

.rightbackground {
    background-color: #f1f1f1
    float: right;
    width: 64%;
}