/*this makes the font universal for the body Raleway*/

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    position: relative;
}

#header img {
    box-align:left;
}

.headertext {
    position: absolute;
    top: 100px;
    right: 100px;
}

#headertext {
    box-align: center;
}