/*this makes the font universal for the body Raleway*/

html, body, section, div {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: left;   
}

.container{
    display: grid;
    grid-template-columns: repeat (10 10% [col-start]);
    grid-template-rows: repeat(25% 200px [auto]);
}


.header{
    position: fixed;
    margin-left: 1760px;
    margin-top:200px;
    
    
    
}
h1 {
    font-weight:800;
    font-size:150px;
}

h2 {
    font-weight:300;
    font-size:70px;
    margin-top:-60px;
    margin-left: 1020px;
}

svg {
    position: relative;   
    margin-top:0px;
}

.image {
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 4;
    height: 100%;
    width: auto;
}
.self{
   position:fixed;
    height: 100%;
    width: auto;
    z-index: -1;
}

.rightbackground{
    grid-column-start: 4;
    grid-column-end: span 9;
    grid-row-start: 1;
    grid-row-end: span 4;
    
    z-index: 1;
    background-color: white;
}

.projects{
    grid-column-start: 4;
    grid-column-end: span 9;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.left {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

.right {
    grid-column-start: 6;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

ul {
    list-style-type: none;
}

a {
    color: *5372AA;
    text-decoration: none;
}