* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/*wrapper for grid layout*/
#wrapper {
    display: grid;
    width: 90vw;
    max-width: 1280px;
    max-height: 100vh;
    margin: 0 auto; /* centers wrapper on page */
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
}

header {
    grid-area: header;
    margin: 0;
    
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800px;
    float: left;
    margin-top: 0;
}

nav {
    grid-area: nav;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    padding-left: 30px;
}

a {
    display: block;
    text-align: center;
    margin-top: 50px;
}

main {
    grid-area: main;
}

.proj {
    width: 400px;
    margin-bottom: 40px;
    margin-right: 15px;
    margin-left:15px;
    position: relative;
}

/*text comes down on hover*/
.drop {
        position: absolute; 
        bottom: -20; 
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color:black;
        font-size: 20px;
        padding: 20px;
        text-align: center;
}

.proj:hover .drop {
    opacity: 1;
  }

figure {
    margin: 0;
}
/*fade hover effect transforms*/
figure img{
    border-radius: 10px;
    display: block;



    -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  figure:hover img{
    -webkit-transform: scale3d(1.05, 1.05, 1);
            transform: scale3d(1.05, 1.05, 1);
  }
/*projects in flex layout*/
.content {
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    flex: auto;
}

footer {
    grid-area: footer;
    text-align: center;
    padding-top: 50px;
    overflow: visible;
}

.proj img{
    display: block;
    width: 100%;
    max-height: 225px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s easet;
    transition: color .2s ease;
}


.copyright p {
    font-size: 10px;
}

.avatar img {
    max-width: 50px;
    padding-bottom: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*creates hover effect in order to fade all projects except one being hovered onto*/
.content:hover > div {
    opacity: 0.5;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  }

  .content:hover > div:hover {
    opacity: 1.0;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  }
/* would-be mousetrail*/
  /* .trail { 
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
  } */

/* iphone 5 media query*/
@media only screen and (max-width: 320px) {

    #wrapper {
        width: 95vw;
        max-height:100vh;
        margin: 0 auto;
        grid-template-columns: 1fr 50px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "header nav"
            "main main"
            "footer footer";
    }

    .proj {
        width: 300px;
        margin-bottom: 15px;
    }

   

    h1 {
        font-size: 1rem;
    }

    h1 a {
        margin-top: 20px;
        margin-left: 20px;
    }


/*creates hamburger menu with javascript*/
    .menu {
        background-image: url('burg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        width: 20px;
        margin-top: 20px;
        display: block;
    }

    .close {
        display: none;
        
    }

    .change .menu {
        display: none;
       
    }

    .change .close {
        display: block;
        z-index: 1000;
        background-image: url('x.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        width: 20px;
        margin-top: 20px;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    }

    .menuitem {
        display: none;
    }

    .change .menuitem {
        display: block;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        top: 0em;
        left: 0em;
        opacity:1;
        transition: .6s ease;
        background-color: #ffffff;
        z-index: 25;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    }

    .change .menuitem li {
        text-align: center;
        width: 100vw;
        padding: 0;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    }
}