* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    display: grid;
    width: 90vw;
    max-width: 1280px;
    max-height: 100vh;
    margin: 0 auto; /* centers wrapper on page */
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
}

header {
    grid-area: header;
    margin: 0;
    
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800px;
    float: left;
    margin-top: 0;
}

nav {
    grid-area: nav;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    padding-left: 30px;
}

a {
    display: block;
    text-align: center;
    margin-top: 50px;

}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s easet;
    transition: color .2s ease;
}

.copyright p {
    font-size: 10px;
}

.avatar img {
    max-width: 50px;
    padding-bottom: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content:hover > div {
    opacity: 0.5;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  }

  .content:hover > div:hover {
    opacity: 1.0;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  }

  main {
      grid-area:main;
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
    max-width:70%;
    margin-right:auto;
    margin-left:auto;
    column-gap: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#skills {
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
}

#conceptual {
    padding-top: 5px;
}

section {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

h2 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top:0;

}

h3 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 50px;
}

.info {
    margin-bottom: 50px;
}

h4, h5, h6 {
    margin-bottom: 5px;
    margin-left: 0;
    font-weight: 400;
}

h4 {
    font-size: 18px;
}

h5 {
    color:cornflowerblue;
    font-size: 15px;
}

h6 {
    margin-top: 5px;
    font-size: 15px;
}

#special p{
    margin: 0px;
}

p, ul {
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding:0px;
  }

.bold, h4, h5 {
    font-weight: 800;
    margin-top: 20px;
}

footer {
    grid-area: footer;
    text-align: center;
    padding-top: 50px;
    overflow: visible;
}



@media print { 
    main {
        -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
        -moz-columns: 100px 2; /* Firefox */
        columns: 100px 2;
        max-width:80%;
        margin-right:auto;
        margin-left:auto;
        column-gap: 100px;
        margin-top: 50px;
    }
    
    #skills {
        -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
        -moz-columns: 100px 2; /* Firefox */
        columns: 100px 2;
    }
    
    #conceptual {
        padding-top: 5px;
    }
    
    section {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    
    h2 {
        font-size: 20px;
        margin-bottom: 0;
        margin-top:0;
    
    }
    
    h3 {
        font-size: 15px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    .info {
        margin-bottom: 50px;
    }
    
    h4, h5, h6 {
        margin-bottom: 5px;
        margin-left: 0;
        font-weight: 400;
    }
    
    h4 {
        font-size: 15px;
    }
    
    h5 {
        color:cornflowerblue;
        font-size: 11px;
    }
    
    h6 {
        margin-top: 5px;
        font-size: 11px;
    }

    #special p{
        margin: 0px;
    }
    
    p, ul {
        font-size: 11px;
    }
    
    
    .bold, h4, h5 {
        font-weight: 800;
        margin-top: 20px;
    }

    header, footer, nav {
        display: none !important;
    
    } 
    ul {
        list-style-type: none;
        padding:0px;
      }
   }

   /* .trail {
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
  } */

@media only screen and (max-width: 320px) {

    #wrapper {
        width: 95vw;
        max-height:100vh;
        margin: 0 auto;
        grid-template-columns: 1fr 50px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "header nav"
            "main main"
            "footer footer";
    }

    h1 {
        font-size: 1rem;
    }

    h1 a {
        margin-top: 20px;
        margin-left: 20px;
    }

    main {
        -webkit-columns: 100px 1; /* Chrome, Safari, Opera */
        -moz-columns: 100px 1; /* Firefox */
        columns: 100px 1;
        max-width:80%;
        margin-right:auto;
        margin-left:auto;
    }



    .menu {
        background-image: url('burg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        width: 20px;
        margin-top: 20px;
        display: block;
    }

    .close {
        display: none;
        
    }

    .change .menu {
        display: none;
       
    }

    .change .close {
        display: block;
        z-index: 1000;
        background-image: url('x.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
        width: 20px;
        margin-top: 20px;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    }

    .menuitem {
        display: none;
    }

    .change .menuitem {
        display: block;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        top: 0em;
        left: 0em;
        opacity:1;
        transition: .6s ease;
        background-color: #ffffff;
        z-index: 25;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    }

    .change .menuitem li {
        text-align: center;
        width: 100vw;
        padding: 0;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    }
}